footer > .content {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer {
	margin-top: 10em;
	background-color: #ddd;
}

.content > .social-bar {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.social-bar > a > .social {
	min-width: 50px;
	min-height: 50px;
	max-width: 50px;
	max-height: 50px;
}
